*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.card {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.img {
    width: 200px;
    height: 200px;
    margin:10px;
}
.name1{
    color: rgb(180, 53, 53);
}
.name2 {
    color: rgb(127, 207, 154);
}
.name3 {
    color: rgb(155, 105, 105);
}
.name4 {
    color: rgb(248, 182, 182);
}
.name5 {
    color: rgb(185, 202, 153);
}
.name6 {
    color: rgb(243, 230, 230);
}